*{
    font-family: ubuntu;
    text-decoration: none;
}

.welcome{
    text-align: center;
}


.welcome h2{
    position: relative;
    top: 10px;
    color:#e92e4a;
    font-family: roboto;
    font-size: 40px;
}


.sb{
   // border:1px solid black;
    margin: 0px auto;
    width: 70%;
    height: 30%;
    }

   
.study{
    position: relative;
    text-align: center;
    
}

.study{   
    font-size: 20px;
    color:#e92e4a;
    
}

.join{
    position: relative;
    text-align: center;
    font-size: 15px;
    color:#e92e4a;
}

.idp{
    position: relative;
    text-align: center;

}
