<ion-header>
  
    <ion-navbar color="appcolor">
      <ion-title>IELTS Grammar</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content no-margin no-padding>
  



<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
  <ion-card style="width:94.5%">
    <ion-card-header>
      <button full style="width:100%; background:white;" (click)="g1=!g1"> 
      <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Relative clauses</b></p>
          <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
      </button>
    </ion-card-header>

    <ion-card-content *ngIf="g1">
      <div class="essay">
        <h3><b> 
         Write the correct alternative in bold on your answer sheet.
        <br>
        <br>
        Example
        <br>
        <br>
        </b>
        Do you know anyone <b>which/ who</b> can repair cigarette burns on clothes?
        <br>
        <br>
        Ans : <b>who</b>    
        <br>
        <br> 
      </h3>   
        <b>1. </b> It’s usually children from deprived backgrounds <b>that/ which</b> cause the worst problems.<br>
        <b>2. </b> Captain Corelli’s Mandolin, <b>that/ which</b> topped the best-seller lists for weeks on end, was never formally publicised.<br>
        <b>3. </b> The Council provides bins in <b>that/ which</b> waste paper can be deposited for recycling.<br>
        <b>4. </b> All cows over 30 months <b>who/ which</b> may have been exposed to BSE will be destroyed.<br>
        <b>5. </b> Address the reference ‘to <b>who/whom</b> it may concern’, as it’s very formal.<br>
        <b>6. </b> The town hall clock played a different tune at twelve every day, <b>which/ what</b> amused the locals and attracted tourists.<br>
        <b>7. </b> ‘There’s a lucky person in this hall <b>who/ whose</b> lottery ticket has just won them £2,000!’<br>
        <b>8. </b> ’Why don’t you tell the police <b>which/ what</b> you told me yesterday?’<br>
        <b>9. </b> The film is set in the period <b>where/ when</b> the divide between rich and poor was much greater than it is now.<br>
        <b>10. </b> You can put the photo <b>whichever/ wherever</b> you think it looks best.<br>
        <br>
        <br>
      # Each sentence below contains a mistake. Find the mistakes and correct them.
      <br>
      <br>
      <b>Example</b>
      <br>
      <br>
      Orders <b>for</b> that we have received payment will be processed immediately.
      <br>
      <br>Ans : <b>Orders…….which……that</b>
      <br>
      <br>
      <b>11. </b> The jackets which this shop makes them are of excellent quality.<br>
      <b>12. </b> Jack has prepared his favourite dish from Delia Smith’s recipe book, which he is about to eat.<br>
      <b>13. </b> Can you get me one of those chocolate bars have got toffee in the middle?<br>
      <b>14. </b> The charity event raised over £1,000 for St Andrew’s Hospice which opened last year.<br>
      <b>15. </b> I’d always wanted to take Graham to the city where I grew up in.<br>
      <b>16. </b> Have you invited the residents who living here on a temporary basis to the meeting?<br>
      <b>17. </b> He presented the visiting ambassador with a genuine Ming vase, that was worth over $10,000.<br>
      <b>18. </b> The bank robbery what I told you about is in the local newspaper.<br>
      <b>19. </b> High taxation is often the main reason which governments fall.<br>
      <b>20. </b> The new buyer identified a dozen new sources for the material, most of them proved to be reliable.<br>
      <br>
      <br>
      </div>
       
      <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

      <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
        <ion-card-header style="text-align:center;">
          <button ion-button round style="width:70%; background:#e92e4a" (click)="s1=!s1"> 
          <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
              </button>
        </ion-card-header>

        <ion-card-content *ngIf="s1">
          <p>
            1. &nbsp;         that<br>
            
            2. &nbsp;         which<br>
            
            3. &nbsp;         which<br>
            
            4. &nbsp;         which<br>
            
            5. &nbsp;         whom<br>
            
            6. &nbsp;         which<br>
            
            7. &nbsp;         whose<br>
            
            8. &nbsp;         what<br>
            
            9. &nbsp;         when<br>
            
            10. &nbsp;       wherever<br>
            
            11. &nbsp;       which this shop makes-them => which this shop makes<br>
            
            12. &nbsp;       Jack has prepared-his favourite dish from Delia Smith’s recipe-book, which he is about to-eat- => Jack has prepared his favourite dish, which he is about to eat, from Delia Smith’s recipe book.<br>
            
            13. &nbsp;       bars have got toffee in- the middle? => bars which/ that have got toffee in the middle?/ bars with toffee in the middle?<br>
            
            14. &nbsp;       St Andrew’s Hospice which opened last-year-. => St Andrew’s Hospice, which opened last year.<br>
            
            15. &nbsp;       the city where I grew up in-. => the city where I grew up./the city which/that I grew up in.<br>
            
            16. &nbsp;       the residents who living here => the residents who are living here/the residents living here<br>
            
            17. &nbsp;       a genuine Ming vase, that-was worth => a genuine Ming vase, which was worth<br>
            
            18. &nbsp;       The bank-robbery-what told you-about => The bank robbery that/which I told you about<br>
            
            19. &nbsp;       the main-reason which governments fall => the main reason why governments fall.<br>
            
            20. &nbsp;       most of them proved => most of which proved<br>
          </p>
        </ion-card-content>
      </ion-card>

      <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

    </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>








<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g2=!g2"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Introductory there and it</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g2">
    <div class="essay">
      <h3><b> 
        Complete the sentences with <i>it</i> or <i>there</i> (and a suitable form of be if necessary).
      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      In the state of Texas alone<b>…there are….</b> thought to be more than thirty prisoners on death row.
      <br>
      <br>
      She found <b>…it….</b> strange that he never talked about his childhood.    
      <br>
      <br> 
    </h3>   
      <b>1. </b> Once upon a time……….. an old woman who lived in a shoe.<br>
      <b>2. </b> During tomorrow’s show………… an interval of fifteen minutes. than thirty prisoners on death row.<br>
      <b>3. </b> Luckily, ………… not any difficulty finding the shop yesterday.<br>
      <b>4. </b> ……………….. a long way to the beach from here.<br>
      <b>5. </b> ‘Which street is it?’ ‘……………….. the first one on the left.’<br>
      <b>6. </b> ………………. seems to be something wrong with my modem.<br>
      <b>7. </b> Strange weather for June; …………………… freezing today!<br>
      <b>8. </b> ……………………. hardly any fuel left in the car.<br>
      <b>9. </b> The army doesn’t anticipate…………………. much opposition from the rebel forces.<br>
      <b>10. </b> …………….. looks as though our team’s going to win, after all.<br>
      <b>11. </b> ………………… supposed to be several ticket machines outside the station.<br>
      <b>12. </b> Given the right monetary conditions, ……………. theoretically possible to achieve zero inflation.<br>
      <b>13. </b> From the swirling mist…………… emerged a mysterious cloaked figure.<br>
      <b>14. </b> If the reorganisation goes ahead……………… sure to be a lot of opposition from the sales force.<br>
      <b>15. </b> I leave……………. to your conscience to decide whether to report the matter.<br>
      <b>16. </b> Frankly, ……………. not surprising that they were expelled.<br>
      <b>17. </b> We would appreciate ………….. if you wouldn’t say anything about this to the children.<br>
      <b>18. </b> Well, Mr Green, ……………. nothing wrong with the heating element so perhaps we’d better look at the pump.<br>
      <b>19. </b> Hello, ………… Azco Market Research here; I wonder if you’d have a few minutes to take part in our telephone poll?<br>
      <b>20. </b> The ministry didn’t expect ……………. quite such a negative reaction from farmers.<br>

      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s2=!s2"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s2">
        <p>
        
          1. &nbsp;          there was<br>
          
          2. &nbsp;          there will be<br>
          
          3. &nbsp;          there was<br>
          
          4. &nbsp;          It’s<br>
          
          5. &nbsp;          It’s<br>
          
          6. &nbsp;          There<br>
          
          7. &nbsp;          it’s<br>
          
          8. &nbsp;          There’s<br>
          
          9. &nbsp;          there being<br>
          
          10. &nbsp;        It<br>
          
          11. &nbsp;        There are<br>
          
          12. &nbsp;        it is<br>
          
          13. &nbsp;        there<br>
          
          14. &nbsp;        there is<br>
          
          15. &nbsp;        it<br>
          
          16. &nbsp;        it is<br>
          
          17. &nbsp;        it<br>
          
          18. &nbsp;        there’s<br>
          
          19. &nbsp;        it’s<br>
          
          20. &nbsp;        there to be<br>
          

        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>







<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g3=!g3"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Prepositions</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g3">
    <div class="essay">
      <h3><b> 
        Write the correct answer on your answer sheet.
      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      The animal spun round suddenly and hissed violently …………… me.
      <br>
      <br>
      a. to <br>                 b. by <br>                c. at   <br> 
      <br>
      Ans : <b>c</b>
      <br> 
      <br>
    </h3>   
      <b>1. </b> We used to be able to hear the sonic boom of Concorde as it flew…….. the house.<br><br>
      a. above<br>          b. over<br>              c. on top of<br><br>
      <b>2. </b> Is the rank of sergeant…….. the rank of corporal in the British army?<br><br>
      a. underneath<br>             b behind<br>          c. below<br><br>
      <b>3. </b> The Grand Bazaar……….. Istanbul is the largest covered market in the world.<br><br>
      a. at<br>                b. in<br>                  c. by<br><br>
      <b>4. </b> The Council is building a new office……………. the car park of the Multiplex cinema.<br><br>
      a. at<br>                b. behind<br>          c. after<br><br>
      <b>5. </b> The zookeeper was amazing – he calmly walked…….. the lion and took the bag out of its mouth.<br><br>
      a. near<br>                        b. up to<br>             c. towards
      <b>6. </b> Your appointment with the consultant is at 6.30…………the evening of the 11th.<br><br>
      a. in<br>                b. at <br>                 c. on<br><br>
      <b>7. </b> The new soap opera on BBC2 is starting……….. tomorrow.<br><br>
      a. at<br>                b.  – <br>                  c. on<br><br>
      <b>8. </b> The walking tour will be leaving promptly ………………. time in order to cover the itinerary.<br><br>
      a. on<br>               b. in<br>                  c. at<br><br>
      <b>9. </b> Louis was unable to name one person……… all his acquaintances that he could truly call a friend.<br><br>
      a. between<br>      b. under<br>            c. among<br><br>
      <b>10. </b> The hotel’s bedding is made only…………. the finest cottons and linens.<br><br>
      a. of<br>                b. in<br>                  c. with<br><br>
      <b>11. </b> Well, ………….my opinion, our neighbours could be a lot noisier and more disruptive than they actually are.<br><br>
      a. from<br>                       b. according to<br>                         c. in<br><br>
      <b>12. </b> Despite………no rain for weeks, the garden appears to be flourishing.<br><br>
      a. have<br>                        b. that we have had<br>      c. having<br><br>

      # Six of these sentences contain mistakes with prepositions in bold. Write the correct sentences, then find and correct the mistakes.
      <br><br>
      <b>Example</b>
      <br><br>
      The house was undamaged in the floods, <b>except</b> the carpets. ==> <b>except for</b>
      <br><br>
      <b>13. </b> We had to put up with her moaning for the whole journey <b>up to</b> Glasgow!<br>
      <b>14. </b> Harriet advanced to her position in the company <b>by means</b> some strategic friendships<br>
      <b>15. </b> The post office is <b>behind just</b> the petrol station. You can’t miss it.<br>
      <b>16. </b> Why don’t you go <b>towards</b> that police officer and ask him the way?<br>
      <b>17. </b> The divorce became much more expensive and messier <b>because of that solicitors became involved.</b><br>
      <b>18. </b> <b>From what they said on the weather forecast</b> yesterday, we’re in for a good weekend.<br>
      <b>19. </b> <b>Apart from to dismantle the lighting</b>, the band took only fifteen minutes to pack up.<br>
      <b>20. </b> I’ve been offered the job in Helsinki for <b>that I applied</b>.<br>
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s3=!s3"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s3">
        <p>
        
          1. &nbsp;          b<br>
          
          2. &nbsp;          c<br>
          
          3. &nbsp;          b<br>
          
          4. &nbsp;          b<br>
          
          5. &nbsp;          b<br>
          
          6. &nbsp;          c<br>
          
          7. &nbsp;          b<br>
          
          8. &nbsp;          a<br>
          
          9. &nbsp;          c<br>
          
          10. &nbsp;        a<br>
          
          11. &nbsp;        c<br>
          
          12. &nbsp;        c<br>
          
          13. &nbsp;        ✓<br>
          
          14. &nbsp;        by means of<br>
          
          15. &nbsp;        just behind<br>
          
          16. &nbsp;        up to<br>
          
          17. &nbsp;        because of the solicitors’ involvement/because (of the fact that) solicitors became involved<br>
          
          18. &nbsp;        ✓<br>
          
          19. &nbsp;        Apart from dismantling the lighting,<br>
          
          20. &nbsp;        that I applied for/for which I applied<br>
          

        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>








<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g4=!g4"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Contrast</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g4">
    <div class="essay">
      <h3><b> 
        Twenty of these sentences contain a mistake. Write the correct sentences, then correct the mistakes. (Some of the mistakes are in word order and level of formality.)

      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      We didn’t have a lot of success with the garden, despite we worked hard on it.
      <br>
      <br>
      Ans : <b><i>……….We didn’t have a lot of success with the garden, although we worked hard on it………</i></b>
      <br> 
      <br>
      </h3>   
      <b>1. </b> I’m Gemini even though my mother is Capricorn<br>    
      <b>2. </b> My partner enjoys adventure holidays, whereas I prefer to laze on a beach.<br>     
      <b>3. </b> But they’d travelled round the world, they had little experience of their own country.<br>
      <b>4. </b> Although the watch looked just like a Rolex, it had cost only $50 in a market in Hong Kong<br>
      <b>5. </b> The girl was released from prison, she had served although only a fraction of her sentence<br>
      <b>6. </b> Even although there was a Force 9 gale, the ship remained stable.<br>
      <b>7. </b> Visitors to tropical resorts still stay out in the sun too long, even they have had plenty of warning about the dangers of the sun’s rays.<br>
      <b>8. </b> These exclusive villas are only a five-minute walk from the busy centre of the resort. They are a haven of peace and tranquillity yet.<br>
      <b>9. </b> Her face, although deathly pale, was a stern as ever.<br>
      <b>10. </b> Ideal the house may appear at first sight, be sure to have a full structural survey.<br>
      <b>11. </b> In spite of he had a full course of driving lessons, he failed the test four times.<br>
      <b>12. </b> Despite she was a woman, Marie Curie made a successful career for herself in a male-dominated world.<br>

      <b>13. </b> Despite having to do it in the dark, we managed to pitch the tent without problems.<br>
      <b>14. </b> Although the fact that the machine was under guarantee, the company refused to replace it.<br>
      <b>15. </b> We had a really horrible flight back – it was terrifying. The plane was all over the place and people were throwing up everywhere and screaming. Nonetheless, we got back safely.<br>
      <b>16. </b> However a dog may be a good companion for the elderly, the need to take it for walks may be a disadvantage.<br>
      <b>17. </b> Australian wines have long impressed European wine lovers. Australian, by contrast, champagne is a relative newcomer.<br>
      <b>18. </b> Most people appreciate the damage being done to the environment by cars. They won’t stop using their own vehicles, however.<br>
      <b>19. </b> The new designs are not as innovative as the competition. They will certainly be popular as they are realistically priced, still.<br>
      <b>20. </b> The plumber charged $100 for an hour’s work. He did a good job, mind you.<br>
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s4=!s4"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s4">
        <p>
        
          1. &nbsp;          even-though => but<br>
          
          2. &nbsp;          ✓<br>
          
          3. &nbsp;          But they’d travelled-round-the world, they had => They’d travelled round the world but they had/ Although they’d travelled around the world, they had<br>
          
          4. &nbsp;          ✓<br>
          
          5. &nbsp;          she had served although => although she had served<br>
          
          6. &nbsp;          Even although => Even though<br>
          
          7. &nbsp;          even they have had => even though they have had<br>
          
          8. &nbsp;          They are a haven of peace and tranquillity => Yet, they are a haven of peace and tranquillity<br>
          
          9. &nbsp;          ✓<br>
          
          10. &nbsp;        Ideal the house may appear => Ideal though the house may appear<br>
          
          11. &nbsp;        In spite of he had => In spite of the fact that he had/ In spite of having/Although he had<br>
          
          12. &nbsp;        Despite-she was a women => Despite the fact that she was a woman/Despite being a woman/Although she was a woman<br>
          
          13. &nbsp;        ✓<br>
          
          14. &nbsp;        Although-the fact that the machine => Although the machine/ Despite/ In spite of the fact that the machine<br>
          
          15. &nbsp;        Nonetheless => Mind you/Still/ All the same<br>
          
          16. &nbsp;        However a dog may be-a good companion for the elderly, the need to take it for walks => A dog may be a good companion for the elderly. However, the need to take it for walks<br>
          
          17. &nbsp;        Australian, by contrast, champagne => Australian champagne, by contrast/ By contrast, Australian champagne<br>
          
          18. &nbsp;        ✓<br>
          
          19. &nbsp;        They will certainly be popular as they are realistically priced, still => Still, they will certainly be popular as they are realistically priced.<br>
          
          20. &nbsp;        ✓<br>
          

        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>









<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g5=!g5"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Determiners</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g5">
    <div class="essay">
      <h3><b> 
        Complete each sentence with a/an, the or – (no article).
      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      All our towels are made of…...…Egyptian cotton.
      <br>
      <br>
      Ans : <b>-</b> (none from the options)
      <br> 
      <br>
      </h3>   
      <b>1. </b> Ruthless poachers hunt………. elephant for the valuable ivory of its tusks.<br>    
      <b>2. </b> Next week I’ll be reviewing a stunning new film. …….. film stars Michael Douglas and is directed by Curtis Hanson.<br>     
      <b>3. </b> Yesterday evening’s Nature Scope about …….. sun’s future worried a large number of viewers.<br>
      <b>4. </b> Muhammad Ali was voted ……… greatest sports personality of the twentieth century.<br>
      <b>5. </b> It is commonly accepted today that ……….. brown bread is good for you.<br>
      <b>6. </b> Many research scientists are inspired by ……………hope of curing diseases by genetic engineering.<br>
      <b>7. </b> Fewer people attend…….. church regularly now than twenty years ago.<br>
      <b>8. </b> Julianne studied for seven years to become …….. criminal lawyer.<br>
      <b>9. </b> Like many people, I learnt to play……… piano when I was a child, but gave it up in my teens.<br>
      <b>10. </b> We recommend that children and teenagers are inoculated against………meningitis.<br><br>

      # Underline the correct determiner or determiners in each sentence (- = no article). In some cases two may be correct.<br><br>
      Example: <b><i>None/ Some/ Both</i></b> neighbours rushed to the aid of the elderly woman.<br><br>

      <b>11. </b> It costs £10 <b><i>a/an/</i></b>- hour to hire the squash court.<br>
      <b>12. </b> There’s <b><i>a/ the/</i></b> – good wine bar in the town centre, isn’t there?<br>
      <b>13. </b> <b><i>A/ The/</i></b>- Mr Jones came to see you this afternoon.<br>
      <b>14. </b> My parents grew up in the 1950s. In <b><i>the/ these/ those</i></b> days there was far less freedom than there is now.<br>
      <b>15. </b> <b><i>This/That/A</i></b> woman I’d never met before came up to me in the bank and asked if she could borrow £10!<br>
      <b>16. </b> It’s freezing! I’ve never known a winter -/<b><i>this/that</i></b> cold before.<br>
      <b>17. </b> Isn’t there <b><i>any / some/ the</i></b> way that you can ensure delivery tomorrow?<br>
      <b>18. </b> <b><i>Every /All/ Each</i></b> the children in the school have to take up at least one sport.<br>
      <b>19. </b> We have asked our retail outlets to return <b><i>both/both of/some</i></b> the new models for further inspection.<br>
      <b>20. </b> <b><i>Much/A lot / A few</i></b> depends on the final outcome of the negotiations.<br>
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s5=!s5"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s5">
        <p>
        
          1. &nbsp;          the<br>
          
          2. &nbsp;          The<br>
          
          3. &nbsp;          the<br>
          
          4. &nbsp;          the<br>
          
          5. &nbsp;          -<br>
          
          6. &nbsp;          the<br>
          
          7. &nbsp;          -<br>
          
          8. &nbsp;          a<br>
          
          9. &nbsp;          the<br>
          
          10. &nbsp;        -<br>
          
          11. &nbsp;        an<br>
          
          12. &nbsp;        a<br>
          
          13. &nbsp;        A<br>
          
          14. &nbsp;        those<br>
          
          15. &nbsp;        This/A<br>
          
          16. &nbsp;        this<br>
          
          17. &nbsp;        any/some<br>
          
          18. &nbsp;        All<br>
          
          19. &nbsp;        both/both of<br>
          
          20. &nbsp;        Much/ A lot<br>
          

        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>










<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g6=!g6"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Possessives and compound...</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g6">
    <div class="essay">
      <h3>
        <b> Possessives and compound nouns</b>
        <br>
        <br>
        <br>
        <b> 
           Below sentences contain mistakes. Write the correct sentences, then find the mistakes and correct them.
      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      Have you met the new girlfriend of my stepson yet?
      <br>
      <br>
      Ans : <b><i>Have you met my stepson’s new girlfriend yet?</i></b>
      <br> 
      <br>
      </h3>   
      <b>1. </b> Did you notice that greasy stain on a side of our sofa?<br>    
      <b>2. </b> Dave’s company has been awarded a contract to repair all the buses’ engines.<br>     
      <b>3. </b> People in this street are very proud of their’s manicured front lawns.<br>
      <b>4. </b> Isn’t she your secretary’s brother’s boss?<br>
      <b>5. </b> These gloves look familiar; I think they’re Joe’s.<br>
      <b>6. </b> The villa we’re borrowing belongs to my sister’s-in-law’s parents.<br>
      <b>7. </b> I adore Lennon’s and McCartney’s music, especially the early stuff .<br>
      <b>8. </b> This is Mario, he’s a colleague of Professor Grigson.<br>
      <b>9. </b> I might be able to get you an interview; the owner’s a friend of me.<br>
      <b>10. </b> Is that the new car of Hilary?<br>
      <b>11. </b> Elizabeth’s the youngest daughter of Mr Granger.<br>
      <b>12. </b> Jem saw a fantastic article in the local paper of today.<br>
      <b>13. </b> Galileo was NASA’s biggest project.<br>
      <b>14. </b> It’s in a great location, only five minutes’ walk from the supermarket.<br>
      <b>15. </b> Could you give me a dollar’s worth of those bananas, please?<br>
      <b>16. </b> How about all of us going back to the house of my brother for some coffee?<br>
      <b>17. </b> Did you manage to get an appointment at the doctor’s?<br>
      <b>18. </b> Oh, for the sake of heaven, can’t you get a move on?<br>
      <b>19. </b> He’s doing some research for his dissertation on anthropology’s history.<br>
      <b>20. </b> The celebrities acknowledged the crowd’s cheers who lined the street.<br>
      <b>21. </b> Astronomers predict an eclipse of the sun on April the thirteenth’s morning.<br>
      <b>22. </b> Inspector Walters achieved fame with the famous serial killer’s arrest.<br>
      <b>23. </b> Commentators have been stunned by the scale of the scandal.<br>
      <b>24. </b> The processor is the computer’s main component, wouldn’t you agree?<br>
      <b>25. </b> This term the class will be reading the short stories’ collection of Graham Greene.<br>
      <b>26. </b> Everyone’s been admiring my expensive wife’s car.<br>
      <b>27. </b> If there’s one thing I can’t stand it’s fussy children’s clothes.<br>
      <b>28. </b> There’s a beautiful old house for sale at the local estate’s agent’s.<br>
      <b>29. </b> If you want a really unique wedding dress, you need to find a good maker of dresses.<br>
      <b>30. </b> Great news – the college is going to give me a one-year sabbatical.<br>
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s6=!s6"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s6">
        <p>
        
          1. &nbsp;          on a-side => on the side<br>
          
          2. &nbsp;          ✓<br>
          
          3. &nbsp;           their’s -» their<br>
          
          4. &nbsp;          ✓<br>
          
          5. &nbsp;          ✓<br>
          
          6. &nbsp;          sister’s -in-law’s => sister-in-law’s<br>
          
          7. &nbsp;           Lemon’s-and => Lennon and<br>
          
          8. &nbsp;          ✓ (but also of Professor Grigson’s)<br>
          
          9. &nbsp;          a friend of me => a friend of mine<br>
          
          10. &nbsp;        the new car of Hilary => Hilary’s new car<br>
          
          11. &nbsp;        the youngest daughter of Mr Granger => Mr Granger’s youngest daughter<br>
          
          12. &nbsp;         the local paper of today => today’s local paper<br>
          
          13. &nbsp;        ✓<br>
          
          14. &nbsp;        ✓<br>
          
          15. &nbsp;        ✓<br>
          
          16. &nbsp;        the house of- my brother => my brother’s (house)<br>
          
          17. &nbsp;        ✓<br>
          
          18. &nbsp;         for the sake of heaven => for heaven’s sake<br>
          
          19. &nbsp;        anthropology’s history => the history of anthropology<br>
          
          20. &nbsp;        crowd’s cheers ==> cheers of the crowd<br>

          21. &nbsp;        April-the-thirteennth’s morning => the morning of April the thirteenth<br>
          
          22. &nbsp;        the famous serial killer’s arrest => the arrest of the famous serial killer<br>
          
          23. &nbsp;        ✓<br>
          
          24. &nbsp;        ✓<br>
          
          25. &nbsp;        the short stories’ collection of Graham-Greene => the/a  collection of short stories by Graham Greene/ Graham Greene’s collection of short stories<br>
          
          26. &nbsp;        my expensive wife’s car => my wife’s expensive car<br>
          
          27. &nbsp;        ✓<br>
          
          28. &nbsp;        estate’s agent’s => estate agent’s<br>
          
          29. &nbsp;        maker of dresses => dressmaker<br>
          
          30. &nbsp;        ✓ (but also one year’s sabbatical)<br>
          
          

        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>








<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
    <ion-card-header>
      <button full style="width:100%; background:white;" (click)="g7=!g7"> 
      <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Adverbs</b></p>
          <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
      </button>
    </ion-card-header>
  
    <ion-card-content *ngIf="g7">
      <div class="essay">
        <h3>
          
          <b> 
             Write the correct form or phrase in <b>bold</b> on your answer sheet.
        <br>
        <br>
        Example
        <br>
        <br>
        </b>
        I haven’t seen that much of them <b>late/ lately</b>.
        <br>
        <br>
        Ans : <b><i>lately</i></b>
        <br> 
        <br>
        </h3>   
        <b>1. </b> You’re bound to be promoted; the boss thinks very <b>high/ highly</b> of you.<br>    
        <b>2. </b> The elephant trek took us <b>deep/ deeply</b> into the rainforest.<br>     
        <b>3. </b> In our school <b>fifty roughly/ roughly fifty</b> students have mobile phones.<br>
        <b>4. </b> As we descended the hill the car began to go more <b>fast/ faster</b>.<br>
        <b>5. </b> I’ve had a lot of insomnia recently. <b>I only slept yesterday/ Yesterday I only slept</b> four hours.<br>
        <b>6. </b> <b>Weekly I get paid/ I get paid weekly</b>, so I can pay the rent on Saturday.<br>
        <b>7. </b> <b>Here lies the tomb / The tomb here lies</b> of Sir Jasper Willoughby.<br>
        <b>8. </b> The train strike won’t affect her, she <b>arrives usually / usually arrives</b> by taxi.<br>
        <b>9. </b> Liz isn’t our most punctual member of staff, she <b>is often/ often is</b> late for work.<br>
        <b>10. </b> I’m afraid that we <b>still don’t/ don’t still</b> know his name.<br>
        <b>11. </b> You’ll never get your money back because the company isn’t <b>trading any longer/ any longer trading</b>.<br>
        <b>12. </b> My parents aren’t very sociable, in fact they <b>go out hardly ever/ hardly ever go out</b>.<br>
        <b>13. </b> I’m sorry that the kids <b>badly behaved/ behaved badly</b> while you were babysitting.<br><br><br>

        # Rewrite these sentences, putting the adverb in brackets in the correct position.<br><br>
        <b>
        Example
        <br>
        <br>
        </b>
        She has got a place in the shortlist. (definitely)
        <br>
        <br>
        Ans : <b><i>She has definitely got a place in the shortlist.</i></b>
        <br> 
        <br>


        <b>14. </b> I thought his performance was good. (pretty)<br>
        <b>15. </b> The patient’s body is now entirely free of symptoms. (almost)<br>
        <b>16. </b> These days I take my health much more seriously. (probably)<br>
        <b>17. </b> She’s my worst enemy and I don’t like her. (really)<br>
        <b>18. </b> Rejected. Harriet turned to food for comfort. (emotionally)<br>
        <b>19. </b> I bumped into your brother at the supermarket. (incidentally)<br>
        <b>20. </b> I understood everything because the teacher answered the question. (clearly)<br>
        
        <br>
        <br>
      
      </div>
       
      <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->
  
      <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
        <ion-card-header style="text-align:center;">
          <button ion-button round style="width:70%; background:#e92e4a" (click)="s7=!s7"> 
          <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
              </button>
        </ion-card-header>
  
        <ion-card-content *ngIf="s7">
          <p>
          
            1. &nbsp;          highly<br>
            
            2. &nbsp;          deep<br>
            
            3. &nbsp;          roughly fifty<br>
            
            4. &nbsp;          faster<br>
            
            5. &nbsp;          Yesterday I only slept<br>
            
            6. &nbsp;          I get paid weekly,<br>
            
            7. &nbsp;          Here lies the tomb<br>
            
            8. &nbsp;          usually arrives<br>
            
            9. &nbsp;          is often<br>
            
            10. &nbsp;        still don’t<br>
            
            11. &nbsp;        trading any longer<br>
            
            12. &nbsp;         hardly ever go out.<br>
            
            13. &nbsp;        behaved badly<br>
            
            14. &nbsp;        I thought his performance was pretty good.<br>
            
            15. &nbsp;        The patient’s body is now almost entirely free of symptoms.<br>
            
            16. &nbsp;        These days I probably take my health more seriously.<br>
            
            17. &nbsp;        She’s my worst enemy and I really don’t like her./ She’s really my worst enemy and I don’t like her.<br>
            
            18. &nbsp;        Emotionally rejected, Harriet turned to food for comfort./ Rejected emotionally. Harriet turned to food for comfort.<br>
            
            19. &nbsp;        Incidentally, I bumped into your brother at the supermarket.<br>
            
            20. &nbsp;        I understood everything because the teacher answered the question clearly.<br>
  
              
          </p>
        </ion-card-content>
      </ion-card>
  
      <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->
  
    </ion-card-content>
</ion-card>
  
<!------------------------------------------------GRAMMAR END------------------------------------------------------>
  
  







<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g8=!g8"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Adjectives</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g8">
    <div class="essay">
      <h3>
        
        <b> 
          Below sentences have mistakes. These may be an incorrect word, a spelling mistake or an error in word order. Tick (✓) the five correct sentences and underline the mistakes in the others and write the corrections.

      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      - I’m afraid the only seat available is on the early morning flight.  
      <br>
      <br>
      Ans : <b>✓</b>
      <br> 
      <br>
      - Our squad notional is one of the best this country has ever produced.  
      <br>
      <br>
      Ans : <b><i>national squad</i></b>
      <br> 
      <br>
      </h3>   
      <b>1. </b> London features numerous histories sites such as Westminster Abbey.<br>    
      <b>2. </b> I’m writing a report on the political attitudes of the young’s.<br>     
      <b>3. </b> The health care needs of the old are a major problem for many western countries.<br>
      <b>4. </b> We’ve won first prize? What amazing!<br>
      <b>5. </b> A plant being built outside the town is chemical.<br>
      <b>6. </b> Try not to disturb the asleep children.<br>
      <b>7. </b> They are doing experiments on alive animals.<br>
      <b>8. </b> Please don’t tell me negative anything.<br>
      <b>9. </b> I’m afraid that’s the only answer possible.<br>
      <b>10. </b> Our latest release is a film suitable for all ages.<br>
      <b>11. </b> The involved people will be caught and severely punished.<br>
      <b>12. </b> We will be supplying an antidote to all those infected by the virus.<br>
      <b>13. </b> To avoid theft please make use of the provided security boxes.<br>
      <b>14. </b> The report into the rail crash was rather worried.<br>
      <b>15. </b> I always seem to play for the lost team!<br>
      <b>16. </b> Interest in Latino music is no longer confined to speaking Spanish audiences.<br>
      <b>17. </b> We’ve inherited a dining mahogany table from my great aunt.<br>
      <b>18. </b> They’re selling that Victorian wonderful house on the corner.<br>
      <b>19. </b> The players will be wearing blue and red striped shirts for today’s match.<br>
      <b>20. </b> The interview panel felt the applicant was well-informed and honest, capable.<br>
      
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s8=!s8"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s8">
        <p>
        
          1. &nbsp;          histories ==> historic<br>
          
          2. &nbsp;          young’s ==> young<br>
          
          3. &nbsp;          ✓<br>
          
          4. &nbsp;          What amazing! ==> How amazing!/ What amazing news!<br>
          
          5. &nbsp;          A plant being built outside the town is chemical ==> A chemical plant is being built outside the town./ The plant being built outside the town is a chemical one.<br>
          
          6. &nbsp;          the asleep children ==> the sleeping children/the children who are asleep<br>
          
          7. &nbsp;          alive animals ==> live/living animals/animals who/which/that are alive<br>
          
          8. &nbsp;          negative anything ==> anything negative<br>
          
          9. &nbsp;          ✓<br>
          
          10. &nbsp;        ✓<br>
          
          11. &nbsp;        involved people ==> people involved<br>
          
          12. &nbsp;         ✓<br>
          
          13. &nbsp;        provided security boxes ==> security boxes provided<br>
          
          14. &nbsp;        worried ==> worrying<br>
          
          15. &nbsp;        lost ==> losing<br>
          
          16. &nbsp;        speaking Spanish ==> Spanish- speaking<br>
          
          17. &nbsp;        dining mahogany table ==> mahogany dining table<br>
          
          18. &nbsp;        Victorian wonderful ==> wonderful Victorian<br>
          
          19. &nbsp;        ✓<br>
          
          20. &nbsp;        well informed and honest capable ==> well-informed, honest and capable<br>

            
        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>









<!---------------------------------------------------GRAMMAR-------------------------------------------------------->
  
<ion-card style="width:94.5%">
  <ion-card-header>
    <button full style="width:100%; background:white;" (click)="g9=!g9"> 
    <p style="font-family:ubuntu; font-size:20px; float:left;"><b>Confusing verbs</b></p>
        <ion-icon name="ios-arrow-down-outline" style="font-size:20px; float:right; margin-right:10px; margin-top:3px;"> </ion-icon> 
    </button>
  </ion-card-header>

  <ion-card-content *ngIf="g9">
    <div class="essay">
      <h3>
        
        <b> 
          Replace the expressions in <b>bold</b> in these sentences using a suitable form of make or do.
      <br>
      <br>
      Example
      <br>
      <br>
      </b>
      I like listening to the radio while <b>washing</b> the dishes.  
      <br>
      <br>
      Ans : <b><i>doing</i></b>
      <br> 
      <br>     
      </h3>   
      <b>1. </b> Sammy <b>earns</b> a lot more than I did at his age.<br>    
      <b>2. </b> That old curtain fabric <b>has become</b> a marvellous ball gown.<br>     
      <b>3. </b> You can go out after you <b>have completed</b> your homework.<br>
      <b>4. </b> What an awful outfit; you’d think she <b>had sewn</b> it herself!<br>
      <b>5. </b> We <b>carry out</b> the staff appraisals once every six months.<br>
      <b>6. </b> She is <b>undertaking</b> research into brand name recognition.<br>
      <b>7. </b> Make sure you <b>brush</b> your teeth before you go to bed.<br>
      <b>8. </b> Stop dithering. You must <b>come up with</b> a decision now.<br><br><br>

      # Write the best form in <b>bold</b>  in each of these sentences.<br><br>
      <b>
      Example
      <br>
      <br>
      </b>
      Would you mind if I <b>did/ made</b> a suggestion about this?  
      <br>
      <br>
      Ans : <b><i>made</i></b>
      <br> 
      <br>     
      <b>9. </b> Sue’s <b>had/ taken</b> a real dislike to her new supervisor.<br>
      <b>10. </b> It’s high time the committee <b>had/ took</b> action over this flagrant abuse.<br>
      <b>11. </b> Grace has <b>gone/ been</b> on holiday in Jamaica and she’s come back with a lovely tan.<br>
      <b>12. </b> I’m a little faint. Could I <b>lie/ lay</b> down on the sofa for a minute?<br>
      <b>13. </b> The men have just <b>lain/ laid</b> a brand new carpet in the bedroom.<br>
      <b>14. </b> I was so tired yesterday that I <b>lay / lied</b> in bed for most of the day.<br>
      <b>15. </b> Anatoly <b>speaks/ talks</b> English with a strong accent.<br>
      <b>16. </b> The Prime Minister <b>spoke/ talked</b> at the international conference in Geneva.<br>
      <b>17. </b> She’s such a chatterbox, we were up half the night <b>speaking/talking</b>.<br>
      <b>18. </b> What do you think of that plan to <b>rise/ raise</b> the ‘Titanic’ from the seabed?<br>
      <b>19. </b> I’m afraid a rather serious problem has <b>raised/ arisen</b>.<br>
      <b>20. </b> Tax rates always seem to be <b>rising/ raising</b> these days.<br>
      <b>21. </b> They <b>robbed/ stole</b> my purse in broad daylight!<br>
      <b>22. </b> I regret to inform you that the bank will be unable to <b>lend/ borrow</b> the sum you have requested.<br>
      <b>23. </b> Graham and Lucy are coming here for the weekend and I think they are <b>bringing/taking</b> the children with them.<br>
      <b>24. </b> Sorry I’m home so late, I <b>took/brought</b> the car to work today and I got stuck in a traffic jam.<br>
      <b>25. </b> Would you mind <b>bringing/ fetching</b> the children from school next Tuesday?<br>
      
      <br>
      <br>
    
    </div>
     
    <!----------------------------------------------SOLUTION GRAMMAR---------------------------------------------------->

    <ion-card style="width:100%; position:relative; left:0px; right:0px; margin:0px auto; box-shadow: 0px 0px 0px 0px;">
      <ion-card-header style="text-align:center;">
        <button ion-button round style="width:70%; background:#e92e4a" (click)="s9=!s9"> 
        <p style="font-family:ubuntu; font-size:18px; color:white;"><b>Solution</b></p>
            </button>
      </ion-card-header>

      <ion-card-content *ngIf="s9">
        <p>
        
          1. &nbsp;          makes<br>
          
          2. &nbsp;          has made/ makes<br>
          
          3. &nbsp;          have done<br>
          
          4. &nbsp;          had made<br>
          
          5. &nbsp;          do<br>
          
          6. &nbsp;          doing<br>
          
          7. &nbsp;          do<br>
          
          8. &nbsp;          make<br>
          
          9. &nbsp;          taken<br>
          
          10. &nbsp;        took<br>
          
          11. &nbsp;        been<br>
          
          12. &nbsp;         lie<br>
          
          13. &nbsp;        laid<br>
          
          14. &nbsp;        lay<br>
          
          15. &nbsp;        speaks<br>
          
          16. &nbsp;        spoke<br>
          
          17. &nbsp;        talking<br>
          
          18. &nbsp;        raise<br>
          
          19. &nbsp;        arisen<br>
          
          20. &nbsp;        rising<br>

          21. &nbsp;        stole<br>

          22. &nbsp;        lend<br>

          23. &nbsp;        bringing<br>

          24. &nbsp;        took<br>

          25. &nbsp;        fetching<br>

            
        </p>
      </ion-card-content>
    </ion-card>

    <!-----------------------------------------------SOLUTION GRAMMAR END---------------------------------------------------->

  </ion-card-content>
</ion-card>

<!------------------------------------------------GRAMMAR END------------------------------------------------------>




  </ion-content>
  